{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/parking.css">
<div class="container1">
    <div class="h1">
        <h1>< 주차안내 ></h1>
    </div>

    <div class="content">
        <div class="content1">
        <br/>
        - 주차 안내사항 <br/><br/>
        - 주차타워 있는데 suv / 외제차 안 들어가짐<br/>
        - 근데 님들 대부분이 suv..........<br/>
        - suv : 부사,기만,냉이,안현,완수,인웅 (안 들어가짐) <br/>
        - 세단 : 뱅, 각밥 (내 차도 차폭으로 넣기 힘듬), 은진이( 가능 ! )<br/>
        ※ 걍 아무대나 주차해도 별말 안함
        <br />
        ※ 주차하는 곳 이미지로 설명해드림 ※<br />
        - 아래 사진을 참고 하셈! <br />
            <hr>
        <h4> < 후보지1 > </h4>
            <p>- 거주자우선주차장인데 만차 아닐시 열림 시간당1000원으로 알고 있음.</p>
            <div class="image">
             <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking1-0.jpg">
             <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking1.jpg">
            </div>
            <hr>
        <h4> < 후보지2 > </h4>
        <p>- 고가도록 옆길쪽으로 거주자전에 1~2대 주차가능.</p>
        <div class="image">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking2-2.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking2.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking2-1.jpg">
        </div>
            <hr>
        <h4> < 후보지3 > </h4>
        <p>- 우리집 바로 앞 자리 최대4대까지 주차가능(서울쉬퐁 문 닫았으면 그 앞에도 가능)</p>
        <div class="image">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking3-0.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking3-1.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking3-2.jpg">
        </div>
            <hr>
        <h4> < 후보지4 > </h4>
        <p>- 후보지3 들어오기전 바로 앞 ( option 으로 낙엽 에디션 만들어드림 )</p>
        <div class="image">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking4-0.png">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking4-1.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking4-2.jpg">
        </div>
        <hr>
        <h4> < 후보지 5> </h4>
        <p>- 고가도로 아래쪽 걸어서 3분거리? 거주자칸 아닌곳에 주차하면 됨</p>
        <div class="image">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking5-0.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking5-1.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking5-2.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking5-3.jpg">
        </div>
        <hr>
        <h4> < 후보지 6> </h4>
        <p>- 동사무소앞에 자유 주차</p>
        <div class="image">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking6-0.jpg">
            <img src="https://gocashing-bucket.s3.ap-northeast-2.amazonaws.com/parking6-1.jpg">
        </div>
        <hr>
        </div>
    </div>
</div>
{{>layout/footer}}