{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/location.css">
<div class="container">
    <div class="h1">
    <h1>< 게시판 글 쓰는 법 ></h1>
    </div>
    <div class="content">
    <br/>
    카카오톡으로 여는 브라우저로 안됨. <br/><br/>
    다른 브라우저로 열기 안드로이드는 삼성브라우저로 열고 구글 로그인 ㄱㄱ<br/>
    아이폰은 사파리로 열어서 구글로그인 ㄱㄱ<br/>
    물론 내가 권한 줘야 쓸 수 있음 네이버는 개발자 아이디만됨 ㅈㅅ<br/>
    <br />
    ※ 사이트 주의 사항 ※<br>
    - 동영상 재생도 붙이고 싶었는데 시간이 없음. <br />
    - 난 백엔드 개발자라 그런거 할 줄 모름 프론트 개발자한테 문의하셈. <br />
    - 웹 개발자가 아니라 모바일 반응형 페이지 아님..pc로보셈요...눈아프신분들은
    </div>
</div>
{{>layout/footer}}